<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="marcgento_register_visit">
        <observer name="register_marcgento_visit" instance="Marcgento\ModuloEventManager\Observer\RegisterVisitObserver" />
    </event>
</config>